# REQUIRED MODULE SETTINGS

MODULE_NAME=Websocket Ingress
MODULE_TYPE=Input

# REQUIRED API SETTINGS

INGRESS_HOST=0.0.0.0
INGRESS_PORT=80
EGRESS_URLS=https://testdockercompose.free.beeceptor.com

# YOU CAN ADD REMAINING MODULE SETTINGS BELOW
WEBSOCKET_URL=